.card {
  border: 1px solid #ddd;
  background: #cdcdcd;

  &-header {
    padding: 2px 5px;
    margin: 2px;
    display: flex;
    &-title {
      font-size: 1.5em;
    }
    &-link {
      float: right;
    }
  }
  &-body {
    background: #fff;
    padding: 5px;
  }
}
